* {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  transition: 2s;
}
:root {
  --primary-color: black;
  --secondary-color: white;
  --bg-img: url(./img/head_logo.jpg);
}
.dark-theme {
  --primary-color: white;
  --secondary-color: black;
  --bg-img: url(./img/head_img.jpg);

}


h1 {
  font-family: "Playfair Display", serif;
}

/* edited version for all screens */
@media screen and (max-width: 400px) {
  body {
    width: 100%;
  }
  h1 {
    font: 50px;
    line-height: 50px;
  }
  .split {
    height: 800px;
    top: 1;
    position: relative;
    overflow-x: hidden;
  }
  footer {
    min-height: 20px;
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    color: var(--primary-color);
  }
}
