
section {
    min-height: 50vh;
    display: flex;
  }
  
  .split {
    height: 800px;
    top: 1;
    position: relative;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .left {
    left: 0;
    width: 50%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    flex-direction: column;
  
  }
  .right {
    top: 10;
    right: 0;
    width: 50%;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    flex-direction: column;
    background-repeat: no-repeat;
  
  }
  